<table class="table table-bordered">
            <th>Author</th>
            <td>{{kirjoittaja}}</td>
            <tr>
            <th>Name</th>
            <td>{{name}}</td>
            </tr>
            <tr>
            <th>Url</th>
            <td>{{url}}</td>
            </tr>
            <tr>
            <th>Summary</th>
            <td>{{summary}}</td>
            </tr>
</table>
