<form name="form2" class="formi" method="post" action="/books">
    <table>
        <tr>
        <th> Name of the Book </th>
        <td><input type="text" name="name" ></td>
        <th> Name of the Author </th>
        <td><input type="text" name="author" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Search" ></td>
        </tr>
    </table>
    </form>