
<h1> Hello World </h1>
<table class="table table-bordered">
            <th>Author</th>
            <td>{{kirjoittaja}}</td>
            <tr>
            <th>Titles</th>
            <td>{{titles}}</td>
            </tr>
            <h1> {{array.length}} </h1>
</table>
